<!DOCTYPE html>
<html>
<head>
    <title>TRPG Character Setup</title>
    <link rel="stylesheet" type="text/css" href="/static/info.css">
</head>
<body>
    <form action="/gpt"> 
        <span>캐릭터 이름 : </span>
        <input type="text" placeholder="캐릭터 이름 작성"  name="name"/><br/>
        <span>캐릭터 성격 : </span>
        <input type="text" placeholder="캐릭터 성격 작성"  name="personality"/><br/>
        <span>캐릭터 배경 : </span>
        <input type="text" placeholder="캐릭터 배경 작성"  name="back"/><br/>
        <span>캐릭터 직업 : </span>
        <input type="text" placeholder="캐릭터 직업 작성"  name="job"/><br/>

        <input type="submit" value="전송" />
    </form>
</body>
</html>
