<!DOCTYPE html>
<html>
<head>
    <title>TRPG Character Setup</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
        <div class="character-info" style="background-color:lightgray">
            <h1>{{ name }}</h1><br/>
            <img src="{{ image_url }}" alt="/ima">
            <span>직업 {{ job }}</span><br/>
            <span>성별 {{ gender }}</span><br/>
            <div class="start-adventure">
                <form action="/chat"> 
                    <input type="submit" value="모험떠나기">
                </form>
            </div>
        
        </div>
       
    <div class="dialogs">
        {{ dialogs|safe }}
    </div>
</body>
</html>